/*sass -w rauh.scss:rauh.css*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 18px; }

@media (max-width: 900px) {
  html {
    font-size: 16px; } }
@media (max-width: 400px) {
  html {
    font-size: 13px; } }
h1, h2, h3, h4 {
  color: #2f5d67;
  font-weight: 600;
  letter-spacing: 0.015rem;
  margin: 0;
  padding: 0 0 1rem 0; }

h3 {
  font-size: 1.125rem; }

p {
  color: #475e63;
  margin: 0;
  padding: 0 0 1rem 0;
  line-height: 1.5rem; }
  p.skill {
    margin-top: -0.1rem;
    text-align: right;
    padding: 0; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #222; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.no-padding {
  padding: 0; }

#slideshow {
  height: 25rem;
  background-color: #F2F4F5;
  position: relative;
  margin: auto; }
  #slideshow .hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; }
  #slideshow #designer {
    background-image: url("img/hero_designer.png"); }
  #slideshow #sports-enthusiast {
    background-image: url("img/hero_sports-enthusiast.png"); }
  #slideshow #tech-geek {
    background-image: url("img/hero_tech-geek.png"); }
  #slideshow #movie-junkie {
    background-image: url("img/hero_movie-junkie.png"); }

#slideshow div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.row {
  max-width: 50rem;
  margin: 0 auto;
  clear: both; }

.column {
  padding: 1rem;
  float: left; }
  .column.full {
    width: 100%; }
  .column.third {
    width: 33.3333333333%; }
  .column.fourth {
    width: 25%; }
  .column.two-thirds {
    width: 66.6666666667%; }
  .column.three-forths {
    width: 75%; }

@media screen and (max-width: 650px) and (min-width: 0px) {
  .column.large-two-thirds, .column.large-third, .column.small-full {
    width: 100%; }
  .column p.small-centered {
    text-align: center; } }
@media screen and (max-width: 860px) and (min-width: 651px) {
  .column.large-two-thirds, .column.large-third, .column.medium-half {
    width: 50%; }
  .column p.small-centered {
    text-align: center; } }
@media screen and (min-width: 861px) {
  .column.large-third {
    width: 33.3333333333%; }
  .column.large-two-thirds {
    width: 66.6666666667%; } }
.small {
  font-size: 0.8rem;
  color: #99A3A2; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

footer {
  margin: 8rem auto 1rem auto;
  width: 15rem;
  color: #B1B1B1;
  text-align: center; }

/*-------top-navigation-------*/
#top-nav {
  background-color: #e9eaeb;
  height: 42px;
  margin: -13px 0 0 0;
  border: solid #d9dde0;
  border-width: 0 0 4px 0; }
  #top-nav a {
    color: #222; }
  #top-nav a:hover {
    text-decoration: none; }
  #top-nav ul {
    padding: 0rem;
    margin: 0.7rem 0;
    text-align: center; }
  #top-nav li {
    display: inline;
    list-style-type: none;
    padding: 0.6rem 4%;
    line-height: 37px;
    font-size: 0.8rem;
    margin: 0 -0.1rem; }
    #top-nav li:hover {
      background-color: #d9dde0; }
  #top-nav li.current {
    border: solid #2f5d67;
    border-width: 0 0 4px 0;
    background-color: #466973;
    color: #e9eaeb; }

/*-------top-navigation_media-queries-------*/
@media (max-width: 900px) {
  #top-nav {
    height: 40px; }
    #top-nav li {
      padding: 0.55rem 4%; } }
@media (max-width: 400px) {
  #top-nav {
    height: 36px; }
    #top-nav li.current {
      padding-top: 1rem; }
    #top-nav li:hover {
      padding-top: 1rem; } }
/*-------sub-navigation-------*/
.sub-nav {
  margin-left: 20%; }
  .sub-nav li {
    display: inline;
    list-style-type: none;
    padding: 0.6rem 4%;
    line-height: 37px;
    font-size: 0.8rem;
    margin: 0 -0.1rem; }

/*-------design-------*/
.logo-mobile {
  display: none; }

.container {
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  max-width: 1080px; }

.thumbnail {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 16%; }

.shot {
  cursor: pointer;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  border-radius: 3px;
  margin-top: -0.1rem; }
  .shot:hover {
    opacity: 0.8; }
  .shot img {
    width: 100%; }

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.bkg-blue {
  box-shadow: 0px 3px 0px #75969C; }

.bkg-white {
  box-shadow: 0px 3px 0px #C6C8CA; }

.bkg-abide {
  box-shadow: 0px 3px 0px #413e39; }

.bkg-chicago {
  box-shadow: 0px 3px 0px #67ac3f; }

.bkg-charreada {
  box-shadow: 0px 3px 0px #BCAE9C; }

.bkg-fall-blast {
  box-shadow: 0px 3px 0px #821a17; }

.bkg-frolf {
  box-shadow: 0px 3px 0px #004E66; }

.bkg-graduation {
  box-shadow: 0px 3px 0px #748291; }

.bkg-man-camp {
  box-shadow: 0px 3px 0px #1D130C; }

.bkg-outdoors {
  box-shadow: 0px 3px 0px #A7A297; }

.bkg-penthouse {
  box-shadow: 0px 3px 0px #097599; }

.bkg-roots {
  box-shadow: 0px 3px 0px #4B5961; }

.bkg-womens14 {
  box-shadow: 0px 3px 0px #b4091c; }

/* Mobile screens (480px) */
@media (max-width: 480px) {
  .thumbnail {
    width: 100%;
    padding-bottom: 80%; }

  .logo {
    display: none; }

  .logo-mobile {
    display: inline-block; } }
/* Tablet screens (650px) */
@media (max-width: 650px) and (min-width: 481px) {
  .thumbnail {
    width: 50%;
    padding-bottom: 40%; }

  .logo-mobile {
    display: none; } }
/* Desktop/tablet screens (860px) */
@media (max-width: 860px) and (min-width: 651px) {
  .thumbnail {
    width: 33.3333333%;
    padding-bottom: 27%; }

  .logo-mobile {
    display: none; } }
/* Large desktop screens (1280px) */
@media (max-width: 1280px) and (min-width: 861px) {
  .thumbnail {
    width: 20%;
    padding-bottom: 16%; }

  .logo-mobile {
    display: none; } }
/*-------blog-------*/
.blog {
  max-width: 32rem;
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto; }

.card {
  background-color: #e9eaeb;
  border: solid #d9dde0;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: inline-block; }

.blog-image {
  width: 100%;
  height: inherit;
  margin: 0 0 1rem 0;
  background-color: transparent; }

.blog-link {
  font-size: 0.8rem;
  color: #777;
  float: left;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-bottom: -0.2rem; }
  .blog-link:hover {
    background-color: #d9dde0;
    border-radius: 3px; }
  .blog-link a {
    color: inherit; }
    .blog-link a:visited {
      color: #777; }

i {
  display: block;
  float: left;
  background-repeat: no-repeat;
  margin: 0.2rem 0.2rem 0 0; }
  i.dribbble {
    width: 0.9rem;
    height: 1rem;
    background-image: url(img/dribbble.svg); }
  i.tumblr {
    width: 0.6rem;
    height: 1rem;
    background-image: url(img/tumblr.svg); }
  i.twitter {
    width: 1rem;
    height: 1rem;
    background-image: url(img/twitter.svg); }

/*-------blog_media-queries-------*/
@media (max-width: 400px) {
  .blog-link {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem; }
    .blog-link i.dribbble {
      padding-right: 1.4rem;
      margin: 0; }
    .blog-link i.tumblr {
      padding-right: 1rem;
      margin: 0; }
    .blog-link i.twitter {
      padding-right: 1.6rem;
      margin: 0; } }
/*-------about-------*/
.about-section {
  padding: 2rem 1rem;
  height: auto; }
  .about-section:after {
    content: "";
    display: table;
    clear: both; }

.skill-bar {
  height: 1rem;
  border-radius: 50px;
  margin-top: 4px; }
  .skill-bar.illustrator {
    width: 100%;
    background-color: #FECE73; }
  .skill-bar.photoshop {
    width: 90%;
    background-color: #A5DBF6; }
  .skill-bar.indesign {
    width: 80%;
    background-color: #E973AB; }
  .skill-bar.html {
    width: 80%;
    background-color: #85C491; }
  .skill-bar.mac {
    width: 100%;
    background-color: #BFBCBC; }

.about-photo {
  background-image: url(img/about-photo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 14rem;
  height: 14rem;
  margin: 0 auto; }

.social-button {
  float: left;
  width: 125px;
  display: inline-block; }

hr.separator {
  padding: 0;
  border: none;
  border-top: 1px solid #DDD;
  color: #BBB;
  text-align: center; }
  hr.separator.tools:after {
    content: "Tools & Skills";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white; }
  hr.separator.clients:after {
    content: "Clients";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white; }
  hr.separator.social:after {
    content: "Social";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white; }

/*-------contact-------*/
.contact-img {
  background-image: url(img/mac.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 23rem;
  height: 14rem;
  margin: 5rem auto 2rem auto; }

.contact-text {
  font-size: 0.9rem;
  color: #999;
  text-align: center;
  line-height: 1.7rem; }
  .contact-text.large {
    color: #2f5d67;
    font-size: 1.2rem; }
